<H1>

Welcome on host (from inventory) : {{ inventory_hostname }}

<br>

Actual hostname is : {{ ansible_hostname }}

<br>

Private IP address is : {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}

<br>

Welcome message : {{ welcome_msg }}

</H1>

