DB_BACKEND={{ api_db_backend }}
DB_HOST={{ database_host }}
DB_PORT={{ database_port }}
DB_NAME={{ database_name }}
DB_USER={{ database_user }}
DB_PASSWORD={{ database_password }}
REDIS_HOST={{ redis_host }}
REDIS_PORT={{ redis_port }}
REDIS_QUEUE={{ redis_queue }}
ENABLE_WORKER={{ demoboard_enable_worker | ternary('true', 'false') }}
NODE_NAME={{ inventory_hostname }}
NODE_ZONE={{ demoboard_node_zone }}
DEGRADED_NODE_ZONE_MATCH={{ demoboard_degraded_node_zone_match }}
OTEL_ENABLED={{ demoboard_otel_enabled | ternary('true', 'false') }}
OTEL_METRICS_EXEMPLAR_FILTER={{ demoboard_otel_metrics_exemplar_filter }}
OTEL_SERVICE_NAME=demoboard-api
OTEL_ENVIRONMENT={{ demoboard_otel_environment }}
OTEL_EXPORTER_OTLP_ENDPOINT={{ demoboard_otel_exporter_otlp_endpoint }}
OTEL_EXPORTER_OTLP_PROTOCOL={{ demoboard_otel_exporter_otlp_protocol }}
APP_LOG_FILE={{ api_log_file }}
